*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height:auto;
    background-color:#5d8aa8;
}
.home-page{
    width: 90%;
    height: 100vh;
    background: url(./images-4/Black-and-Blue-Picture-HD.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 30px;
    margin: auto;
    border: 3px solid white;
    border-bottom: none;
}
header{
    width: 90%;
    display: flex;
    background-color:#fff;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    height: 60px;
    /* margin-top: 50px; */
}
.portfolie-1 img{
    width: 150px;
    height:40px;
    /* display: inline; */
}
 .home-page ul{
    display: flex;
}
a{
     text-decoration: none;
     cursor: pointer;
}
ul li{
    list-style-type: none;
    margin-left: 25px;
}
ul a{
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul a:hover{
    border-bottom: 3px solid red;
}
#contact-1 button{
    background-color:lightsalmon;
    width: 100px;
    height: 35px;
    font-size: 18px;
    font-weight: bold;
    font-family:cursive;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 3px 10px black;
}
.my-self{
    display: flex;
    justify-content: space-between;
    height: 400px;
    width: 90%;
    margin: auto;
    margin-top: 80px;
    /* background-color: red; */
}
.content-1{
    width: 50%;
    height: 100%;
    /* background-color: red; */
    font-size: 20px;
    color: white;
    padding: 50px;
}
.content-1 h3{
    font-size: 28px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.content-1 h1{
    margin-top: 5px;
    color: yellow;
}
.content-1 p{
    margin-top: 30px;
}
#contact-2 button{
    background-color:lightyellow;
    width: 100px;
    height: 35px;
    font-size: 18px;
    font-weight: bold;
    font-family:cursive;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    margin-top: 30px;
    /* position: relative; */
     box-shadow: 0px 3px 10px green;
}
.me{
    /* background-color:black; */
    border: 5px solid white;
    width: 27%;
    height:100%;
    box-shadow: 0 20px 70px rgb(0, 136, 255), 0 0 60px  rgb(61, 157, 220);
    /* padding: 20px; */
}
.img-1{
    width: 100%;
    height: 100%;
    background: url(./images-4/24988.jpg);
    background-repeat: no-repeat;
    background-size: 100% 69%;
    position: relative;
    right: 30px;
    top: 20px;
    border: 5px solid lightskyblue;
    /* padding: 10px; */
    /* background-color: red; */
}
.img-1 img{
    width: 100%;
    height: 100%;
    background: none;
}
.about{
    width: 90%;
    /* height: 500px; */
    height: 100vh;
    background-color:black;
    color: white;
    margin: auto;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    border: 3px solid white;
    border-top: none;
    border-bottom: none;
}
/* .head-2{
    width:fit-content;
    
} */
.head-2 h2{
    font-size: 30px;
    color:lightskyblue;
}
.head-2 h2:hover{
    border-bottom: 4px solid yellow;
}
.about-skill{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* background-color: red; */
    gap: 100px;
    /* padding-right: 200px; */

}
.about-left{
    /* background-color: yellow; */
    width: 30%;
    height: auto;
    border-top: 10px solid lightskyblue;
    border-left: 10px solid lightskyblue;
    border-radius: 10px;
}
.about-left-1{
    height: 200px;
    width: 200px;
    margin: 50px auto;
    perspective: 500px;
    /* background-color: yellow; */
}
.cube{
    height: 100%;
    width: 100%;
    position: relative;
    transform-style: preserve-3d;
    transform:  translateZ(-100px) rotateX(35deg) rotateY(-47deg);
    animation: cube 15s linear infinite;
}
 @keyframes cube {
    0%{
    transform: translateZ(-100px) rotateX(35deg) rotateY(-47deg);
}
    50%{
    transform: translateZ(-100px) rotateX(35deg) rotateY(113deg) ;
}
    100%{
    transform: translateZ(-100px) rotateX(35deg) rotateY(313deg) ;
}
}
.cube_faces{
    height: 100%;
    width: 100%;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 6px;
    backface-visibility: hidden;
}
.box{
    height: 61.5px;
    border-radius: 1px;
    border-top-left-radius: 2px;
    border: 2px solid white;
    /* background-color: red; */
}
.front{
    transform: translateZ(100px);
}
.back{
    transform:rotateY(-180deg) translateZ(99px);
}
.top{
    transform: rotateX(90deg) translateZ(99px);
}
.bottom{
    transform: rotateX(-90deg) translateZ(99px);
}
.right{
    transform: rotateY(90deg) translateZ(99px);
}
.left{
    transform: rotatey(-90deg) translateZ(99.2px);
}

.about-right{
    width: 45%;
    height: 60%;
    /* background-color: black; */
}
.about-right h2{
    font-size: 40px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-left: 30px;
}
.about-right  h2+h3{
    font-size: 40px;
    margin-top: 50px;
    /* margin-left: 30px; */
    height: 10px;
}
.about-right p{
    text-align: justify;
    padding: 25px;
    font-size: 23px;
    height: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.about-right  p+h3{
      font-size: 40px;
      text-align: right;
       height: 10px;
      margin-right: 120px;

}

.skills{
    width: 90%;
    height: auto;
    margin: auto;
    background-color:black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#tag-2{
    text-align: center;
     font-size: 40px;
    color:lightskyblue;
}
#tag-2:hover{
    border-bottom: 4px solid yellow;
}
.skills-me{
    width: 100%;
    height: 100%;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 150px;
    padding-left: 140px;
    padding-right: 100px;
    padding-top: 70px;
}
.box1{
    /* background-color: red; */
    border: 2px solid white;
    border-radius: 10px;
    width: 270px;
    height: 400px;
    position: relative;
    /* background-color: yellow; */
    text-align: center;
    padding-top: 100px;
}
#one{
    position:absolute;
    right: 165px;
    top: 110px;
    width: 240px;
}
