*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height:100vh;
}
.home-page{
    width: 100%;
    height: 100vh;
    background: url(./images-4/Black-and-Blue-Picture-HD.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 50px;
}
header{
    width: 90%;
    display: flex;
    background-color:#fff;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    height: 60px;
    /* margin-top: 50px; */
}
.portfolie-1 img{
    width: 50px;
    height: 25px;
    display: inline;
}
 .home-page ul{
    display: flex;
}
a{
     text-decoration: none;
     cursor: pointer;
}
ul li{
    list-style-type: none;
    margin-left: 25px;
}
ul a{
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul a:hover{
    border-bottom: 3px solid red;
}
#contact-1 button{
    background-color:lightsalmon;
    width: 100px;
    height: 35px;
    font-size: 18px;
    font-weight: bold;
    font-family:cursive;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}
.my-self{
    display: flex;
    justify-content: space-between;
    height: 400px;
    width: 90%;
    margin: auto;
    margin-top: 50px;
}
.content-1{
    width: 50%;
    height: 100%;
    /* background-color: red; */
    font-size: 20px;
    color: white;
    padding: 50px;
}
.content-1 h3{
    font-size: 28px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.content-1 h1{
    margin-top: 5px;
    color: yellow;
}
.content-1 p{
    margin-top: 30px;
}
#contact-2 button{
    background-color:lightyellow;
    width: 100px;
    height: 35px;
    font-size: 18px;
    font-weight: bold;
    font-family:cursive;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    margin-top: 30px;
    position: relative;
}
.me{
    /* background-color: red; */
    border: 5px solid white;
     /* border-top:none; */
     /* border-bottom: none; */
    width: 27%;
    height:100%;
    /* padding: 20px; */
}
.img-1{
    width: 100%;
    height: 100%;
    background: url(./images-4/24988.jpg);
    background-repeat: no-repeat;
    background-size: 100% 69%;
    position: relative;
    right: 30px;
    top: 20px;
    border: 5px solid lightskyblue;
    /* padding: 10px; */
    /* background-color: red; */
}
.img-1 img{
    width: 100%;
    height: 100%;
    background: none;
}